<%- include("partials/head", { title }) %>
<section class="narrow">
  <h1><%= title %></h1>
  <p><%= message %></p>
  <a class="button" href="<%= actionHref %>"><%= actionLabel %></a>
</section>
<%- include("partials/footer") %>
